<div class="container">
  <div class="card bg-dark text-white">
    <div class="card-header text-white text-center bg-success ">
      Méritas, une application développée par l'équipe Team Rocket
    </div>
    <img class="card-img" src="{{tableau_noir}}" alt="Card image">
    <div class="card-img-overlay">
      <p class="card-text text-white text-center">Cette application vous permettra d'attribuer les méritas voulus aux élèves sélectionnés à travers des étapes très simples. 
      Elle vous donne accès aux listes de professeurs, élèves, cours, et groupes et permet d'archiver vos dossiers avec une interface très fluide et conviviale. Vous pouvez 
      également avoir accès à des statistiques qui vous donneront une idée claire de la moyenne de la classe en terme de méritas.</p>
    </div>
  </div>
</div>



  
